{% extends "blogs/base.html" %}
{% load humanize %}
{% block head %}
<style type="text/css">
.blog{
margin-bottom:15px;
}
</style>
<script type="text/javascript" src="/jscripts/syntaxhighlighter/scripts/shCore.js"></script>
<script type="text/javascript" src="/jscripts/syntaxhighlighter/scripts/shAllSyntax.js"></script>
<script type="text/javascript" src="/jscripts/page.js"></script>
<link type="text/css" rel="stylesheet" href="/jscripts/syntaxhighlighter/styles/shCore.css"/>
<link type="text/css" rel="stylesheet" href="/jscripts/syntaxhighlighter/styles/shThemeDefault.css">
<script text="JavaScript">
	SyntaxHighlighter.config.clipboardSwf = '/jscripts/syntaxhighlighter/scripts/clipboard.swf';
	SyntaxHighlighter.all();
  max_page={{max_page}};
</script>
{% endblock %}
{% block content %}
{% for blog in blogs %}
<h3><a href="/blog/{{blog.key}}/show">{{blog.title}}</a></h3>
<h4>{{blog.date|naturalday}}</h4>
<div class="contentdiv">{{blog.content|removetags:"img object param embed"|safe}}</div>

<ul class="inline_list"><li class="category">分类:<a href="/category/{{blog.category.key}}/show">{{blog.category.name}}</a></li><li class="read"><a href="/blog/{{blog.key}}/show">{{blog.browsed_count}} 浏览</a></li><li class="comments"><a href="/blog/{{blog.key}}/show#comments">{{blog.comment_set.count}} 评论</a></li>{% if admin %}<li class="edit"><a href="/blog/{{blog.key}}/edit">编辑</a></li><li class="delete"><a href="/blog/{{blog.key}}/delete">删除</a></li>{% endif %}</ul>
{% endfor %}

<div class="pageOption">
  {% ifequal cur_page 1 %}
  <img src="/images/go-first-no.png" title="首页"/>
  <img src="/images/go-previous-no.png" title="上页"/>
  {% endifequal %}
  {% ifequal cur_page 0 %}
  <img src="/images/go-first-no.png" title="首页"/>
  <img src="/images/go-previous-no.png" title="上页"/>
  {% endifequal %}
  {% ifnotequal cur_page 1 %}
  {% ifnotequal cur_page 0 %}
  <a href="?jumpPage=1"><img src="/images/go-first.png" title="首页"/></a>
  <a href="?jumpPage={{up_page}}"><img src="/images/go-previous.png" title="上页"/></a>
  {% endifnotequal %}
  {% endifnotequal %}
  <div class="pageText">  第{{cur_page}}页/共{{max_page}}页  </div>
  {% ifequal cur_page max_page %}
  <img src="/images/go-next-no.png" title="下页"/>
  <img src="/images/go-last-no.png" title="尾页"/>
  {% endifequal %}
  {% ifnotequal cur_page max_page %}
  <a href="?jumpPage={{down_page}}"><img src="/images/go-next.png" title="下页"/></a>
  <a href="?jumpPage={{max_page}}"><img src="/images/go-last.png" title="尾页"/></a>
  {% endifnotequal %}
</div>
{% endblock %}
