{% extends "blogs/base.html" %}
{% load humanize %}
{% block head %}
<style type="text/css">
.blog{
margin-bottom:15px;
}
</style>
<script type="text/javascript" src="/jscripts/syntaxhighlighter/scripts/shCore.js"></script>
<script type="text/javascript" src="/jscripts/syntaxhighlighter/scripts/shAllSyntax.js"></script>
<script type="text/javascript" src="/jscripts/page.js"></script>
<link type="text/css" rel="stylesheet" href="/jscripts/syntaxhighlighter/styles/shCore.css"/>
<link type="text/css" rel="stylesheet" href="/jscripts/syntaxhighlighter/styles/shCore.css"/>
<script text="JavaScript">
	SyntaxHighlighter.config.clipboardSwf = '/jscripts/syntaxhighlighter/scripts/clipboard.swf';
	SyntaxHighlighter.all();
  max_page={{max_page}};
</script>
{% endblock %}
{% block content %}
{% for blog in blogs %}
<h3><a href="/blog/{{blog.key}}/show">{{blog.title}}</a></h3>
<h4>{{blog.date|naturalday}}</h4>
<div class="contentdiv">{{blog.content|removetags:"img object param embed"|safe}}</div>

<ul class="inline_list"><li class="category">分类:<a href="/category/{{blog.category.key}}/show">{{blog.category.name}}</a></li><li class="read"><a href="/blog/{{blog.key}}/show">{{blog.browsed_count}} 浏览</a></li><li class="comments"><a href="/blog/{{blog.key}}/show#comments">{{blog.comment_set.count}} 评论</a></li>{% if admin %}<li class="edit"><a href="/blog/{{blog.key}}/edit">编辑</a></li><li class="delete"><a href="/blog/{{blog.key}}/delete">删除</a></li>{% endif %}</ul>
{% endfor %}

<div class="pageOption">
  <form action="{{action_mode}}" method="post" name="pageForm">
    {% ifequal cur_page 1 %}
    <div class="firstPage_no">首页</div>
    <div class="pageUp_no">上页</div>
    {% endifequal %}
    {% ifequal cur_page 0 %}
    <div class="firstPage_no">首页</div>
    <div class="pageUp_no">上页</div>
    {% endifequal %}
    {% ifnotequal cur_page 1 %}
    {% ifnotequal cur_page 0 %}
    <div class="firstPage" onclick="gotoPage(1)">首页</div>
    <div class="pageUp" onclick="gotoPage({{up_page}})">上页</div>
    {% endifnotequal %}
    {% endifnotequal %}
    <div>　第</div>
    <div class="currentPage">
      <input name="jumpPage" class="pageInput" type="text" value="{{cur_page}}"/>
      {% ifequal cur_page 0 %}
        <div class="jumpPage_no">Go</div>
      {% endifequal %}
      {% ifnotequal cur_page 0 %}
        <div class="jumpPage" onclick="Jumping()">Go</div>
      {% endifnotequal %}
    </div>
    <div>页/共</div>
    <div>{{max_page}}</div>
    <div>页　</div>
    {% ifequal cur_page max_page %}
    <div class="pageDown_no">下页</div>
    <div class="lastPage_no">尾页</div>
    {% endifequal %}
    {% ifnotequal cur_page max_page %}
    <div class="pageDown" onclick="gotoPage({{down_page}})">下页</div>
    <div class="lastPage" onclick="gotoPage({{max_page}})">尾页</div>
    {% endifnotequal %}
  </form>
</div>
{% endblock %}
