{% extends "blogs/base.html" %}
{% load humanize %}
{% block head %}
<script type="text/javascript" src="/jscripts/jquery.js"></script>
<script type="text/javascript" src="/jscripts/syntaxhighlighter/scripts/shCore.js"></script>
<script type="text/javascript" src="/jscripts/syntaxhighlighter/scripts/shAllSyntax.js"></script>
<link type="text/css" rel="stylesheet" href="/jscripts/syntaxhighlighter/styles/shCore.css"/>
<link type="text/css" rel="stylesheet" href="/jscripts/syntaxhighlighter/styles/shThemeDefault.css"/>
<script type="text/javascript">
SyntaxHighlighter.config.clipboardSwf = '/jscripts/syntaxhighlighter/scripts/clipboard.swf';
SyntaxHighlighter.all();
function submit_comment(){
	$.post('/blog/{{blog.key}}/comment/create',
			{author:$('#id_author').val(),
			email:$('#id_email').val(),
			content:$('#id_content').val()},
			function(data, textStatus){
			  if(textStatus == 'success') {
			    var result = JSON.parse(data);
				  if(result.msg == 1){
					  $('#comments').append(result.data);
					  $('#comments_count').html(Number($('#comments_count').html())+1);
					  $('#id_author').val('');
					  $('#id_email').val('');
					  $('#id_content').val('');
					  $('#hint').html('您提交了一条评论');
					  $('#hint').slideDown('slow');
					  $('#hint').hide(3000);
				  }else{
					  $('#hint').html(result.data);
					  $('#hint').slideDown('slow');
				  }
				}
			}
	);
	
}
</script>
{% endblock %}
{% block content %}
<h3><a href="/blog/{{blog.key}}/show">{{blog.title}}</a></h3>
<h4>{{blog.date|naturalday}}</h4>
<div class="contentdiv">{{blog.content|safe}}</div>

<ul class="inline_list"><li class="category">分类(<a href="/category/{{blog.category.key}}/show">{{blog.category.name}}</a>)</li><li class="read">浏览({{blog.browsed_count}})</li><li>评论(<span id="comments_count">{{blog.comment_set.count}}</span>)</li>{% if admin %}<li class="edit"><a href="/blog/{{blog.key}}/edit">编辑</a></li><li class="delete"><a href="/blog/{{blog.key}}/delete">删除</a></li>{% endif %}</ul>
<br>
<div id="comments">
{% for comment in comments %}
{% include "blogs/_comment.html" %}
{% endfor %}
</div>
<div id="hint" style="display: none;"></div>
<p>{{ form.author.label_tag }}:{{ form.author }}</p>
<p>{{ form.email.label_tag }}:{{ form.email }}</p>
<p>{{ form.content.label_tag }}<br>{{ form.content }}</p>
<input type="button" value="提交" onclick="submit_comment();"/>
{% endblock %}
