.pageOption div
{
  float:left;
  line-height:32px;
  font-size:14pt
}
.currentPage {
  border:1px solid #CCCCCC;
  float:left;
  height:28px;
  overflow:hidden;
}
.pageInput
{
  border:medium none;
  display:block;
  float:left;
  height:24px;
  overflow:hidden;
  font-size:14pt;
  padding:3px 0 0 4px;
  width:30px;
}
.firstPage
{
  background:transparent url(../images/go-first.png) no-repeat scroll;
  cursor:pointer;
  height:32px;
  float:left;
  overflow:hidden;
  text-indent:-999em;
  width:32px;
}
.firstPage_no
{
  background:transparent url(../images/go-first-no.png) no-repeat scroll;
  height:32px;
  float:left;
  overflow:hidden;
  text-indent:-999em;
  width:32px;
}
.pageUp
{
  background:transparent url(../images/go-previous.png) no-repeat scroll;
  cursor:pointer;
  height:32px;
  float:left;
  overflow:hidden;
  text-indent:-999em;
  width:32px;
}
.pageUp_no
{
  background:transparent url(../images/go-previous-no.png) no-repeat scroll;
  height:32px;
  float:left;
  overflow:hidden;
  text-indent:-999em;
  width:32px;
}.pageDown
{
  background:transparent url(../images/go-next.png) no-repeat scroll;
  cursor:pointer;
  height:32px;
  float:left;
  overflow:hidden;
  text-indent:-999em;
  width:32px;
}
.pageDown_no
{
  background:transparent url(../images/go-next-no.png) no-repeat scroll;
  height:32px;
  float:left;
  overflow:hidden;
  text-indent:-999em;
  width:32px;
}.lastPage
{
  background:transparent url(../images/go-last.png) no-repeat scroll;
  cursor:pointer;
  height:32px;
  float:left;
  overflow:hidden;
  text-indent:-999em;
  width:32px;
}
.lastPage_no
{
  background:transparent url(../images/go-last-no.png) no-repeat scroll;
  height:32px;
  float:left;
  overflow:hidden;
  text-indent:-999em;
  width:32px;
}
.jumpPage
{
  background:transparent url(../images/go-jump.png) no-repeat scroll -1px -3px;
  cursor:pointer;
  height:32px;
  float:left;
  overflow:hidden;
  text-indent:-999em;
  width:30px;
}
.jumpPage_no
{
  background:transparent url(../images/go-jump-no.png) no-repeat scroll -1px -3px;
  height:32px;
  float:left;
  overflow:hidden;
  text-indent:-999em;
  width:32px;
}
