body {
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  background:#FFFFFF url(../images/Linux5.png) no-repeat fixed right bottom;
  font-family:Arial,Helvetica,sans-serif;
}
h3 {
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  background:#DBEEFF none repeat scroll 0 0;
  font-size:14px;
  height:24px;
  line-height:24px;
  padding-left:8px;
  text-align:left;
}
a:hover {
  color:#6EA315;
  cursor:pointer;
  text-decoration:underline;
}
a {
  color:#145CA6;
  cursor:pointer;
  text-decoration:none;
}
.container {
  margin:0 auto;
  width:970px;
}
.leftTopBorder {
  background:#F5FBFF url(../images/widgettop.gif) no-repeat scroll center top;
  width:250px;
  margin-right:10px;
  padding-top:15px;
}
.leftBorder {
  background:#F5FBFF url(../images/widgetbottom.gif) no-repeat scroll center bottom;
  width:250px;
  float:left;
  margin-right:10px;
  padding-bottom:15px;
}
.rightContainer {
  float:left;
  width:680px;
}
.rightBorder {
  border-style: solid; 
  border-color: rgb(219, 238, 255); 
  border-width: 0pt 3px;
}
.inline_list {
  margin:0 1.5em 0;
}
.inline_list a {
  color:#6EA315;
}
.contentdiv{
  margin-left:10px;
}
.category {
  background:transparent url(../images/category.png) no-repeat scroll;
  padding:0 5px 0 16px;
}
.read {
  background:transparent url(../images/read.png) no-repeat scroll;
  padding:0 5px 0 16px;
}
.comments {
  background:transparent url(../images/comments.png) no-repeat scroll;
  padding:0 5px 0 16px;
}
.edit {
  background:transparent url(../images/edit.png) no-repeat scroll;
  padding:0 5px 0 16px;
}
.delete {
  background:transparent url(../images/delete.png) no-repeat scroll;
  padding:0 5px 0 16px;
}
.pageOption {
  margin-top:10px;
}
.pageOption .pageText{
  font-size:12pt;
  line-height:24px;
  display:inline;
}

